<style>
    .box {
        width: 100px;
        height: 100px;
        background-color: red;
    }
    .maindiv {
        width: 300px;
        height: 300px;
        border-style: solid;
        border-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    [v-cloak] {
        display: none; /* if this is not mentioned everything in the vue would be displayed for a split
        second before rendering the vue template */
    }
</style>

<html>
    <!--vuejs directives are a way to extend html to the javascript in vue-->
    <!--here, the vue keywords we use are
    v-model
    v-if
    v-show
    -->
    <head>
        <title>Learning Vue</title>
    </head>
    <body>
        <div id="app" v-cloak>
            <p id="greeting">
                {{greeting}}
                <input v-model="greeting" />
            </p>
            <div v-if="isVisible" class="box"></div>
            <div v-show="can_u_see" class="box" style="background-color: blue;"></div>
            <div class="maindiv">
                <div class="box" style="background-color: green;" v-if="if_visibility"></div>
                <div class="box" style="background-color: yellow;" v-else-if="else_if_visibility"></div>
                <div class="box" style="background-color: purple;" v-else></div>
            </div>
        </div>
    </body>
</html>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const app = Vue.createApp({
        data : function() {
            return { 
                greeting: "Hello Cibi from Vue!",
                isVisible: true,
                can_u_see:true,
                if_visibility: true,
                else_if_visibility: false
            }
        }
    })
    app.mount('#app') 
</script>